.pagination {
  display: flex;
  flex-direction: row;
  flex: 1 1 100%;
  align-items: center;
  justify-content: end;
  margin: var(--size-8);
  font-size: var(--size-13);
  color: var(--text-color-light);

  .section {
    margin-left: var(--size-16);
  }

  .select {
    width: auto;
    flex: 0 0 auto;
    margin: 0 0 0 var(--size-8);
    
    select {
      height: var(--size-32);
      padding: 0 var(--size-8);
      padding-right: var(--size-24) !important;
    }

    .icon-wrap {
      width: 24px;
    }

    &.margin-right-none {
        margin-right: 0;
    }
  }

  .controls {
    display: flex;

    .button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      border-radius: 5px;
      display: flex;
      align-items: center;
  
      &.button-prev {
        margin-right: var(--size-20);
      }
  
      &.button-next {
        margin-left: var(--size-20);
      }
  
      &:disabled {
        opacity: 0.5;
        cursor: default;
      }
  
      i {
          color: var(--text-color-light);
      }
    }
  }
}
