.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
  background-color: var(--box-color);
  transition: var(--tran-05);
  z-index: 10;

  .sidebar-toggle {
    font-size: 26px;
    color: var(--text-color-light);
    cursor: pointer;
  }
  .user-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 40px;
      border-radius: 50%;
      margin: 0;
    }

    .name {
      padding-left: var(--size-8);
      font-weight: var(--font-weight-medium);
      color: var(--text-color-light);
      font-size: var(--size-16);
    }

  }
}
