@import '~Style/mixins';

.msg-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--size-12);
  min-height: var(--size-36);
  flex-shrink: 0;
  background-color: var(--primary-color);
  color: var(--box-color);
  border-radius: var(--size-4);
  box-shadow: var(--box-shadow);

  &.info {
    background-color: var(--primary-color);
    color: var(--box-color);
  }
  &.warning {
    background-color: var(--warn-color);
    color: var(--text-color);
  }
  &.error {
    background-color: var(--danger-color);
    color: var(--box-color);
  }
  &.success {
    background-color: var(--success-color);
    color: var(--box-color);
  }

  .icon {
    padding-right: var(--size-8);
  }

  .content {
    @include text-overflow;
    flex: 1;
  }

}