.input-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 100%;
    align-items: center;
    justify-content: center;
    margin-top: var(--size-20);

    label {
      display: flex;
      flex: 1 1 100%;
      color: var(--text-color);
      margin-bottom: var(--size-8);
    }

    &.has-errors {
      input {
        border-width: var(--size-2);
        border-color: var(--danger-color);
      }
    }

    .input-wrap {
      display: flex;
      flex: 1 1 100%;
      position: relative;
      flex-wrap: wrap;
    
      &.icon-left {
        .icon-wrap {
          left: 0;
        }
        input, select {
          padding-left: var(--size-40);
        }
      }
      &.icon-right {
        .icon-wrap {
          right: 0;
        }
        input, select {
          padding-right: var(--size-40);
        }
      }
    }

    .icon-wrap {
      position: absolute;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: var(--size-42);
      height: 100%;
      color: var(--text-color-light);
    
      &:not(.icon-element) {
        pointer-events: none;
      }
    }
  }

  .errors {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    font-size: var(--size-12);
    color: var(--danger-color);
    margin-top: var(--size-6);
  
    span {
      font-size: 175%;
      line-height: .7;
      margin: 0 3px;
    }
  }