.input-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 100%;
    align-items: center;
    justify-content: center;
    margin-top: var(--size-20);

    label {
      display: flex;
      flex: 1 1 100%;
      color: var(--text-color);
    }
  }