.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  max-width: 480px;
  width: 100%;
  background: var(--box-color);
  padding: var(--size-24);
  border-radius: var(--size-8);
  box-shadow: var(--box-shadow);

  header {
    font-size: var(--size-24);
    color: var(--text-color);
    font-weight: var(--font-weight-medium);
    text-align: center;
    display: flex;
    flex: 1 1 100%;
    align-items: center;
    justify-content: center;
  }

  .form {
    margin-top: var(--size-8);
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    align-items: center;
    justify-content: center;

    .input-box {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex: 1 1 100%;
      align-items: center;
      justify-content: center;
      margin-top: var(--size-20);

      label {
        display: flex;
        flex: 1 1 100%;
        color: var(--text-color);
      }

      input {
        display: flex;
        flex: 1 1 100%;
        position: relative;
        height: var(--size-40);
        outline: none;
        font-size: var(--size-14);
        color: var(--text-color-light);
        margin-top: var(--size-8);
        border: var(--border);
        border-radius: var(--size-4);
        padding: 0 var(--size-12);
        &:focus {
          border: 2px solid var(--primary-color)
        }
      }
    }

    button {
      display: flex;
      flex: 1 1 100%;
      align-items: center;
      justify-content: center;
      position: relative;
      height: var(--size-40);
      color: var(--box-color);
      font-size: var(--size-14);
      font-weight: 400;
      margin-top: var(--size-30);
      border: none;
      cursor: pointer;
      transition: var(--tran-02);
      background: var(--primary-color);
      border-radius: var(--size-4);

      &:hover {
        background: var(--primary-color-dark);
      }
    }
  }
}
