.dashboard{
    height: 100%;
    display: flex;
    flex: 1 1 auto;
    background-color: var(--body-color);
    transition: var(--tran-05);
    flex-direction: column;

    .container {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;

    }

    .text{
        font-size: 30px;
        font-weight: 500;
        color: var(--text-color-light);
        padding: 12px 60px;
    }
}