
// :root {
  /* ===== Light Theme Colors ===== */
  $light-body-color: #E4E9F7;
  $light-box-color: #FFF;
  $light-primary-color: #695CFE;
  $light-primary-color-light: #F6F5FF;
  $light-primary-color-dark: #4130fe;
  $light-toggle-color: #DDD;
  $light-text-color: #000;
  $light-text-color-light: #707070;
  $light-box-shadow-color: rgba(0, 0, 0, 0.1);
  $light-border-color: #e6e5e5;

  /* ===== Dart Theme Colors ===== */
  $dark-body-color: #18191a;
  $dark-box-color: #242526;
  $dark-primary-color: #3a3b3c;
  $dark-primary-color-light: #3a3b3c;
  $dark-primary-color-dark: #464646;
  $dark-toggle-color: #fff;
  $dark-text-color: #ccc;
  $dark-text-color-light: #ccc;
  $dark-box-shadow-color: rgba(0, 0, 0, 0.7);
  $dark-border-color: #4D4C4C;
// }