
// :root {
  /* ===== Light Theme Colors ===== */
  $light-body-color: #E4E9F7;
  $light-box-color: #FFF;
  $light-primary-color: #695CFE;
  $light-primary-color-light: #F6F5FF;
  $light-primary-color-dark: #4130fe;
  $light-warn-color: #ffc400;
  $light-success-color: #21ba45;
  $light-danger-color: #ff3333;
  $light-toggle-color: #DDD;
  $light-text-color: #000;
  $light-text-color-light: #707070;
  $light-box-shadow-color: rgba(0, 0, 0, 0.1);
  $light-border-color: #e6e5e5;
  $light-color-dimmer: rgba(0, 0, 0, .5);
  $light-scroll-track-color: #ebebeb;
  $light-scroll-bar-color: #ccc;
  $light-scroll-bar-hover-color: #adadad;

  /* ===== Dart Theme Colors ===== */
  $dark-body-color: #18191a;
  $dark-box-color: #242526;
  $dark-primary-color: #3a3b3c;
  $dark-primary-color-light: #3a3b3c;
  $dark-primary-color-dark: #464646;
  $dark-warn-color: #ffc400;
  $dark-success-color: #21ba45;
  $dark-danger-color: #ee1620;
  $dark-toggle-color: #fff;
  $dark-text-color: #ccc;
  $dark-text-color-light: #ccc;
  $dark-box-shadow-color: rgba(0, 0, 0, 0.7);
  $dark-border-color: #4D4C4C;
  $dark-color-dimmer: rgba(0, 0, 0, .5);
  $dark-scroll-track-color: #ebebeb;
  $dark-scroll-bar-color: rgba(0, 0, 0, 0.5);
  $dark-scroll-bar-hover-color: rgba(0, 0, 0, 0.4);
// }